* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    color: #181818;
    margin-bottom: 30px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
    max-width: 800px;
    margin: 30px auto;
}

.btn-primary {
    background-color: #FD6E0A;
    color: #fff;
    padding: 18px 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    border: none;
    border-radius: 5px;
    height: 64px;
}

.btn-contact {
    color: #FD6E0A;
    padding: 18px 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 30px;
}

/* header and navigation title */
.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    padding-left: 50px;
}

/* banner */
.banner {
    display: flex;
    margin: 0 50px 0 200px;
    align-items: center;
}

.banner .banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    color: #474747;
}

.banner .banner-title {
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner .banner-description {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

.banner .icon {
    padding-right: 5px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    background-color: #FFF8F3;
    margin-top: 130px;
    padding: 130px 155px;
    border-radius: 10px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #757575;
}

.about .info-description {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #474747;
}

/* what i do */
.skills .skill-container {
    display: flex;
    justify-content: space-around;
}

.skills{
    margin-bottom: 120px;
}
.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    max-width: 200px;
    margin-top: 50px;
    padding: 30px;
}

.skill .skill-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #181818;
}

.skill .skill-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* resume styles */
.resume-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 115px;
    margin-left: 100px;
    margin-right: 100px;
}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #474747;
}

.resume-item .title {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #474747;
    margin-bottom: 10px;
}

.resume-item .sub-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #757575;
    margin-bottom: 20px;
}

.resume-item .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}

.resume-btn {
    margin-top: 50px;
    text-align: center;
}

/* contact styles */
.contact {
    display: flex;
    justify-content: space-around;
    gap: 120px;
    background: #FFF8F3;
    padding: 130px 130px;
}

.contact .section-title {
    text-align: left;
}

.contact p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #474747;
}

.contact a {
    text-decoration: none;
}

.contact input[type="text"],
input[type="email"],
textarea {
    border: 0;
    margin-bottom: 24px;
    border-radius: 5px;
    width: 100%;
    padding: 18px 30px;
}

input {
    height: 64px;
}

textarea {
    height: 180px;
}